@import url("https://fonts.googleapis.com/css2?family=Karla:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    user-select: none;
  }
  .max-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    @apply px-10;
  }
  main {
    flex-grow: 1;
  }
  body {
    font-family: "Karla", sans-serif;
  }
  html,
  body,
  #root {
    @apply h-full;
  }

  #root {
    @apply flex flex-col;
  }
  .animation {
    @apply transition duration-300;
  }
  
}
